@media (min-width: 768px) {
  .col-md-5ths {width: 20%;float: left;}
}

.uv1-2 {
background-color: green;
color: white;
}

.uv3-5 {
  background-color: yellow;
  color: black;
}

.uv6-7 {
  background-color: orange;
  color: white;
}

.uv8-10 {
  background-color: tomato;
  color: white;
}

.uv11{
  background-color: purple;
  color: white;
}
